@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --whiteColor: #fff;
}
body {
  font-family: "Roboto", sans-serif;
}

header #navbar,
.navbar {
  color: var(--whiteColor);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}
.container .logo {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.container .toggle-icon {
  height: 4rem;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: none;
}
.container .toggle-icon i {
  font-size: 3rem;
  color: var(--whiteColor);
  line-height: 0.5;
}
.container .menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu li a {
  color: var(--whiteColor);
  text-decoration: none;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: rgb(243, 194, 134);
  border-bottom: 2px solid #fff;
  padding-bottom: 0.8rem;
}
/* header style */
header {
  background-image: url(../images/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  color: var(--whiteColor);
  position: relative;
}

header .header-content {
  top: 20%;
  left: 10%;
  right: 10%;
  position: absolute;
  display: inline-block;
  width: 45%;
  margin: 0 auto;
}
.header-content h1 {
  font-size: 2.2rem;
}
header .btn {
  background-color: transparent;
  color: var(--whiteColor);
  font-size: 0.75rem;
  padding: 0 1rem;
  width: 11rem;
  text-transform: uppercase;
}
header button:hover {
  background-color: transparent;
  color: #bfaa63;
}

/* Tenoris service area */

.tenoris-services > div {
  text-align: center;
  width: 80%;
  margin: 3rem auto;
}

.tenoris-services div h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.7rem;
  font-weight: bold;

  color: #39687f;
}
.tenoris-services p {
  color: #39687f;
}

/* statics-area */
.statics-area {
  background-color: #f2f3f4;
  padding: 0.625rem;
}
.static-content-area {
  /* display: grid;
  grid-template-columns: 1fr; */
  padding: 1.25rem;
  width: 70%;
  margin: 0.625rem auto;
}
.static-content-area h3 {
  color: #bfaa63;
  font-size: 1.25rem;
  font-weight: 400;
}
.static-content-area .static p {
  color: #39687f;
}
.static-content-area .billing-area {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem;
  text-align: center;
}
.static-content-area .billing-area .line-class {
  background-color: #c6cdd1;
  width: 180px;
  height: 0.1rem;
  margin: 0.625rem 0;
  font-size: 0.875rem;
}
.static-content-area .static-text p {
  padding: 0.375rem 3.125rem;
  color: #3b454e;
}
/* Tenoris service area ends*/

/* map area */
.map-area {
  background-image: url(/images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.map-area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.875rem 0;
  width: 90%;
  margin: 0 auto;
}
.map-area .map-img-container img {
  max-width: 100%;
}
.map-area .map-content {
  padding: 1.25rem;
}
.map-content h1 {
  color: #39687f;
}
.map-content p {
  color: #39687f;
}
.staff-area {
  padding: 1.25rem;
}
.staff-container {
  width: 80%;
  margin: 0 auto;
}

.staff-container .staff-content {
  background-color: #39687f;
  padding: 1.25rem 1.875rem;
  color: var(--whiteColor);
  line-height: 1.8;
}
.staff-img-container img {
  width: 100%;
  height: 100%;
}

.staff-container .staff-content .btn {
  background-color: transparent;
  border: 0.0625rem solid var(--whiteColor);
  float: left;
}
.staff-container .staff-content .btn:hover {
  color: #bfaa63;
}
/* map area ends*/

/* product-tips-area */
.product-tips-area {
  margin-top: 1.25rem;
  background-color: #5f8597;
  color: var(--whiteColor);
  text-align: center;
}
.tips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 1.875rem;
}
.product-btns .btn {
  background-color: transparent;
  margin-left: 1rem;
  border: 0.0625rem solid var(--whiteColor);
  color: var(--whiteColor);
}
.fact-area {
  background-color: #4d788c;
}

.fact-container {
  width: 80%;
  margin: 0 auto;
  padding: 1.063rem;
}
.fact-container h1 {
  color: var(--whiteColor);
  text-align: center;
}

.fact-list {
  padding: 1.063rem;
}
.fact-list ul {
  list-style-type: none;
  margin: 0 2rem;
}
.fact-list ul li {
  border-bottom: 0.0625rem solid #d4cfbc;
  font-size: 0.875rem;
  line-height: 2.2;
  color: var(--whiteColor);
  padding: 0.625rem 0;
  border-width: 0.5px;
}
/* footer area */
footer {
  background-color: #39687f;
  height: 230px;
  overflow: hidden;
}

.footer-content a {
  color: var(--whiteColor);
  float: right;
  margin-top: 11.88rem;
  padding-right: 6.25rem;
  text-decoration: none;
}
.footer-content a:hover {
  text-decoration: underline;
}
/* footer area ends*/

/* Change bgc on scrollY */
.nav-onscroll,
.navbar-bgc {
  background-color: #39687f;
  height: 13vh;
}

/* fonden page */
.fonden-title {
  background-color: rgb(243, 239, 233);
  padding-left: 5.7rem;
  padding-top: 6rem;
}
.fonden-title h2 {
  padding: 0.7rem;
}
.stabil {
  background-color: #f2f3f4;
}
.divers-container,
.stabil-container,
.langsiktig .container,
.risk .container {
  width: 80%;
  margin: 3rem auto;
  /* padding: 2rem; */
}

.divers-container div img,
.stabil-container div img,
.langsiktig .container div img,
.risk .container div img {
  padding: 2rem;
}
.stabil-container div p {
  padding-right: 3rem;
}
.risk,
.invest2,
.FAQs {
  background-color: #f2f3f4;
}

.document-container {
  width: 60%;
  margin: 3rem auto;
  color: #39687f;
}
.document-container div {
  margin: 1rem 0;
}
.document-container div #big-doc {
  margin-top: -0.5rem;
}
.document-container ul {
  list-style-type: none;
}
.document-container ul li {
  cursor: pointer;
}

/* för företag page (meny) */
.invest-container,
.invest-container2,
.how-to,
.container-FAQs,
.meeting div {
  width: 80%;
  margin: 4rem auto;
  padding: 1.6rem;
}
.invest-container div,
.invest-container div p {
  margin: 0.3rem;
}
.invest-container2 ul {
  padding: 5rem;
}
.how-to blockquote {
  border-left: 3px solid #bfaa63;
  padding: 3rem;
  height: auto;
  height: 200px;
}
.FAQs .container-FAQs {
  /* padding: 2rem 0; */
  display: flex;
  justify-content: space-around;
}
.container-FAQs div img {
  margin: 2rem 0;
}
.container-FAQs ul {
  list-style-type: none;
}
.container-FAQs ul li {
  font-size: 1rem;
  padding: 0.6rem;
  border-bottom: 1px solid;
  color: #39687f;
  cursor: pointer;
}

.meeting div {
  text-align: center;
}
.meeting div button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(252, 212, 139);
  color: #222;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
}
