.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.625rem;
  /* margin: 2.5rem; */
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  background-color: transparent;
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  padding: 10px;
  display: block;
  text-align: center;
  width: 160px;
  height: 45px;
  margin: 20px auto;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
